
body {
	border: 60px solid #000000;
}
.PARENT {
	background-color: burlywood;
	display: inline-block;
	height: 100%;
	padding: 40px 40px 40px 40px;
	width: 250px;
	position: relative;
	left: 90px;
	z-index: 3;
}
.CHILD {
	border: 5px solid #000000;
	background-color: cadetblue;
	box-sizing: border-box;
	z-index: 0;
}
h1,h2 {
	font-size: 50px;
	font-weight: 100;
	text-align: center;
	text-transform: capitalize;
}
h4,h5 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}
p,p2 {
	margin: 0 auto;
	width: 500px;
	text-align: justify;
	text-decoration: none;
	justify-content: right;
	line-height: 40px;	
	font-family: 'Josefin Slab', serif;
}
p3 {
	background-color: chartreuse;
	/*will disapear if not added*/
	position: fixed;
	top: 4px;
	z-index: 500;
}